<html>
<head>
    <title>Album Adder</title>
<head>
<body>
    <h1>You've added a new album!</h1>
    <p>{{ newcd.getAlbumTitle }}</p>
    <p>{{ newcd.getArtistTitle }}</p>
    <p><a href="/">View your album list.</a></p>
</body>
</html>
