<html>
<head>
    <title>Search Results</title>
<head>
<body>

{% if albumresults is not empty %}
<h1> Search results </h1>
<ul>
 {% for albumresult in albumresults %}
 <li> {{ albumresult.getArtistTitle}} </li>
 <li> {{ albumresult.getAlbumTitle}} </li>
{% endfor %}
{% endif %}
</body>
</html>
